body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 200%;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}


.top-container {
  background-color: #448d91;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.code{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.gaming {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.me_img{
  width: 25%;
}
.profile{
  color: #40514E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

hr{
  border-style:dotted;
  text-decoration: none;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}



